{% extends "base.html" %}
{% block title %}Favoritos{% endblock %}

{% block content %}

<div class="lgpd-actions">

    <div class="action-card"> 
<form>
    <label>Nome: </label><input type="text">
    <label>Link: </label><input type="text">



</form>
    </div>
    
    <div class="action-card">  
        <h4>Portabilidade</h4>
        <p>iPonto - Assinatura</p>
        <p>iPonto - Vitalícia</p>
        <p>Acesso - Assinatura</p>
        <p>Acesso - Vitalícia</p>
    </div>
 
</div>

{% endblock %}