{% extends "base.html" %}
{% block title %}Página principal{% endblock %}

{% block content %}


<div class="dashboard-container">

        <div class="lgpd-actions">



                <div class="action-card">
                        <h4>Indicações</h4>
                        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.3594643039805!2d-43.345428999999996!3d-21.7663446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989b5e58eb10b3%3A0x4236f150e98c8ab5!2sR.%20Sampaio%20-%20Juiz%20de%20Fora%2C%20MG%2C%2036010-359!5e0!3m2!1spt-BR!2sbr!4v1745365184806!5m2!1spt-BR!2sbr"
                                        width="220" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </div>

                <div class="action-card">
                        <h4>Calculadoras</h4>
                        <p>iPonto - Assinatura</p>
                        <p>iPonto - Vitalícia</p>
                        <p>Acesso - Assinatura</p>
                        <p>Acesso - Vitalícia</p>
                </div>

                <div class="action-card">
                        <h4>Favoritos</h4>
                        <p>Anotações</p>
                        <p>Lançamento Assinatura</p>
                        <p>Lançamento Vitalícia</p>
                        <p>Atendimentos</p>
                        <p>Portabilidade</p>
                </div>
        </div>
</div>


{% endblock %}