{% extends "base.html" %}
{% block title %}Procedimentos{% endblock %}

{% block content %}

    <div class="lgpd-actions">
        <div class="action-card">
            <h4>Portabilidade</h4>
            <p>iPonto - Assinatura</p>
            <p>iPonto - Vitalícia</p>
            <p>Acesso - Assinatura</p>
            <p>Acesso - Vitalícia</p>
        </div>

        <div class="action-card">
            <h4>Downgrade</h4>
            <p>iPonto - Assinatura</p>
            <p>iPonto - Vitalícia</p>
            <p>Acesso - Assinatura</p>
            <p>Acesso - Vitalícia</p>
        </div>

        <div class="action-card">
            <h4>Upgrade</h4>
            <p>iPonto - Assinatura</p>
            <p>iPonto - Vitalícia</p>
            <p>Acesso - Assinatura</p>
            <p>Acesso - Vitalícia</p>
        </div>

        <div class="action-card">
            <h4>Termo de Ciência e Responsabilidade</h4>
            <p>iPonto Light</p>
            <p>iPonto Full</p>
        </div>

        <div class="action-card">
            <h4>Troca de Chave de Acesso</h4>
            <p>iPonto</p>
            <p>iFitness</p>
            <p>School Control</p>
        </div>

        <div class="action-card">
            <h4>Licença</h4>
            <p>Cancelamento</p>
            <p>Suspensão</p>
            <p>Trancamento</p>
        </div>

    </div>

</div>

{% endblock %}